<footer>
    <div class="footer-container">
      <div class="footer-content">
        <div class="contact-info">
          <h3>Contact Us</h3>
            <ul>
                <li><p>Harsh Srivastava : 9696585355 | harshideal2002@gmail.com</p></li>
                <li><p>Harsh : 7275542453 |harshprajapati3032002@gmail.com </p></li>
                <li><p>Harsh Srivastava :9452005670 | w.harsh.w@gmail.com</p></li>
                <li><p>Nikhil Bharti : 9548339518 |nikhilbharti9548@gmail.com</p></li>
            </ul>
        </div>
        <div class="footer-nav">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="/pph">Home</a></li>
            <li><a href="/pph#a">About Us</a></li>
            <li><a href="/pph#s">Search</a></li>
            <li><a href="/pph#c">Comment</a></li>
            <li><a href="/syallabus">Syllabus</a></li>
            <%if(!current){%>
                <li><a href="/pph/vip-register">Register</a></li>
                <li><a href="/pph/vip-login">Login</a></li>
                <%}%>
                <%if(current){%>
                <li><a href="/pph/read-comment">Read Comment</a></li>
                <li><a href="/admin/contro?id=<%=current._id%>">My Contributions</a></li>
                <%if(current.username=="harshideal2002@gmail.com"){%>
                    <li><a href="/pph/reqlist">Requests</a></li>
                    <li><a href="/pph/contributerlist">Contributer List</a></li>
                    <%}%>
                <%}%>
          </ul>
        </div>
      </div>
      <p>&copy; 2024 Your Website. All rights reserved.</p>
    </div>
  </footer>