<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Paper</title>
</head>
<body>
    <form method="post" action="/admin/addpaper">
        <label for="name">Paper Name:</label>
        <input type="text" name="paper" id="name">
        <label for="year">Year:</label>
        <input type="text" name="year" id="year">
        <label for="paper"></label>
        <input type="file" name="pdf" id="paper">
        <label for="course">Courses:</label>
        <select name="cours" class="course" >
            <option selected disabled>Select Cource</option>
        <%for(course of courses){%>
            <option value="<%=course._id%>"><%=course.course%></option>
        <%}%>
        <option value="other">Other</option>
        </select>
        <input type="text" name="newcourse" id="newcourse" placeholder="Enter your Course" hidden>
        <label for="department">Department:</label>
        <select name="department" id="department" onchange="depart()">
            <option selected disabled>Select Department</option>
        </select>
        <input type="text" name="newdept" id="newdept" placeholder="Enter your department" hidden>
        <button>Add Paper</button>
    </form>
    <script src="/help.js"></script>
</body>
</html>