<% layout("/layout/boilerplate.ejs")%>
<body>
    <%- include('./includes/navbar.ejs') %>
    <div class="container">
    <form method="post" action="/pph/varify">
    <h3>Varify your email address <%=username%></h3>
    <%if(code){%>
        <input type="tel" name="otp" required>
        <%}%>
    <button>Varify</button>
    </form>
</div>
</body>