<% layout("/layout/boilerplate.ejs")%>
<body>
    <%- include('./includes/navbar.ejs') %>
    <%if(login_plzz && login_plzz.length){%>
        <div class="success-container" id="success-Container">
            <span class="close-button" onclick="closeSuccessMessage()">×</span>
            <div class="success-message error" id="successMessage"><%=login_plzz%></div>
        </div>
        <div class="extra-space"></div>
    <%}%>
    <div class="container">
        <form action="/pph/vip-login" method="post" class="form-control">
            <h2>Login Here</h2>
            <div class="form-group">
                <label for="mail">Email:</label>
                <input type="email" name="username" id="mail" required>
                <div class="error-message">Please enter a valid username.</div>
            </div>
            <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" name="password" id="pass" required>
            <div class="error-message">Please enter a valid username.</div>
        </div>
        <div class="form-group">
            <button>Login</button>
        </div>
        <h5>If you are new User the <a href="/pph/vip-register">register</a> your self </h5>
        </form>
    </div>

    <div class="overlay"></div>
    <div class="popup" >
        <span class="close">&times</span>
        <div class="card">
          <img src="\imgs\prof.png" alt="proffesor" />
          <h3>Are You Want to contribute ?</h3>
          <form method="get" action="/pph/vip-login">
          <button>Login</button>
        </form>
        <form method="get" action="/pph/vip-register">
          <button>Register</button>
        </form>
        </div>
        <div class="card">
          <img id="tom" src="\imgs\admin.png" alt="Admin"/>
          <h3>Are You a Admin of this Website?</h3>
          <form method="get" action="/pph/login">
          <button>Login</button>
        </form>
        </div>
      </div>
    <%- include('./includes/footer.ejs') %>
    <script src="./app.js"></script> 
</body>