<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            text-align: center;
        }h1{
            margin-top: 5rem;
            color:#0f4c81;
        }.main{
            border: 1px solid #0f4c81;
            height: 60rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }.form{
            width: 20rem;
            height: 20rem;
            
            border: 1px solid #0f4c81;
            box-shadow: #0f4c81 5px;
        }.form div{
            margin:1rem 0rem 2rem 0rem;

        }

    </style>
    <title>Login Page</title>
</head>
<body>
    <div class="main">
    <h1>Login Here</h1>
    <div class="form">
        <form action="">
            <div>
                <label for="mail">Email:</label>
                <input type="email" name="" id="mail">
            </div>
            <div>
            <label for="pass">Password</label>
            <input type="password" name="" id="pass">
        </div>
            <input type="button" name="" id="" value="Login">
        </form>
    </div>
</div>
</body>
</html>