
<% layout("/layout/boilerplate.ejs")%>
    <body>
        <%- include('./includes/navbar.ejs') %>
        <%- include('./includes/flashes.ejs') %>

        <div class="container">
        <h1 style="color: red;">	&#9888;This Paper is not available</h1>
        <h2 style="color:rgb(255, 165, 0); ">Please select paper , which are shown down to input in form</h2>
        </div>