*,body{
    margin: 0px;
    padding: 0px ;
    
}
/* div{
    border: 1px solid black;
} */
.university-logo{
  width: 100%;
  height: 100%;
  background-image: url('Purvanchallogo.png');
    background-repeat: no-repeat;
    background-size: 35rem;
    position: fixed;
    background-position:center;
    z-index: -10;
    opacity: 0.3;
}
#nav{
    width: 100%;
    background-color: rgb(255, 165, 0);
    position: fixed;
    top:0;
    z-index: 20;
    margin: 0rem 0rem 0rem 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: top 0.3s;
    border-bottom: 2px solid #0f4c81;
}
#nav-logo{
    width: 10%;
    height: 98%;
}
#nav-logo img{
    width: 75%;
    margin: 1rem 0rem 0rem 1.5rem;
    border: 3px dashed #0f4c81;
    border-radius: 1rem;
    padding: 5px 4px;
}
#nav-title{
    width: 30%;
    height: 98%;
}
#nav-title img{
    width: 70%;
    margin: 1.5rem 0rem 0rem 1.5rem;
}
.dropdown{
  width: 60%;
  
}
.nav-btn{
    /* width:; */
    height: 95%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    text-align: right;
}
.nav-btn a{
    height: 1.5rem;
    margin-top: 0rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    text-decoration: none;
    color: #0f4c81;
}

.nav-btn a:hover{
    font-size: 1.27rem;
    font-weight: 600;
    box-shadow:  0 2px 4px rgb(255, 192, 128);
    text-decoration: none;
    
}

.navbar-toggle {
  display: none; /* Hide toggle button by default */
}

@media (max-width: 845px) {
  .navbar .nav-btn a{
      display: block;
      padding: 10px 0;
  }

  /* Show toggle button on small screens */
  .navbar-toggle {
      display: block;
      
      text-align: right;
  }
  #nav-title{
    width: 60%;
    height: 98%;
}
.dropdown{
  width: 20%;
  
}
#nav-logo{
  width: 20%;
  height: 98%;
}
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
    
}
.navbar-toggle button {
  background-color: transparent;
  height: 1.5rem;
    margin-top: 0rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    text-decoration: none;
    margin-right: 2rem;
    color: #0f4c81;
  border: none;
  cursor: pointer;
}


  .navbar-links {
    display: none;
    position: absolute;
    background-color:rgb(255, 165, 0);
    max-width: 5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    align-self: last baseline;
    padding: 2rem 2rem;
    z-index: 1;
    top: 100%;
    right: 0;
    border-bottom-left-radius: 1rem;
}

.nav-btn {
  color: black;
  padding: 1rem 0;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 1.2rem;
}

.front-image{
  width: 200rem;
}

  /* Hide navbar links by default on small screens */
  /* .navbar-links {
      display: none;
      /* width: 100%; */
   /* background-color: rgb(255, 165, 0);
    position: fixed;
    top:0;
    z-index: 20;
    margin: 0rem 0rem 0rem 0rem;
    justify-content: space-evenly;
    /* align-items: center; */
    /* transition: top 0.3s; */
  /*  border-bottom: 2px solid #0f4c81;
  } */
}
/* .vip{
    text-decoration: none;
    transition: all 0.3sec;
    z-index: 1;
} */
/*
.vip:hover{
    color:white;
}
.vip::after{
    content: "";
    position: absolute;
    background-color: #0f4c81;
    z-index: -1;
    transition:0.3sec ease all;
    transform:scale(1,0);
    transform-origin:top right;
    transition: transform 500ms cubic-bezier(0.86,0,0.07,1);
    transition-timing-function: cubic-bezier(0.86,0,0.07,1);
}
.vip:hover:after{
    transform: scale(1,1);
    transform-origin: top left;
} */

#quote{
    width: 100%;
    /* height:32rem; */
    margin: 2rem 0rem 10rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#quote-content{
    width: 45%;
    height: 98%;
}
#quote-imgs{
    top: 0px;
    width:50%;
    height: 90%;
}
#quote-content h1{
    text-decoration: none;
    /* font-size: 3rem; */
    font-family:Comic Sans MS, Comic Sans;
    /* margin: 8rem 5rem 1rem 1rem; */
    margin-top: 5rem;
}
#quote-content h3,#quote-content h4{
    margin: 0rem 0rem 0rem 4rem;
    font-family:Comic Sans MS, Comic Sans; 
}
#quote-imgs img{
    margin-top: 0px;
    width: 36rem;
}
#a{
    margin-top: 5rem;
}
#about{
    width: 98%;
   
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0rem 9rem 0rem;
}
#about div{
    width: 30%;
}
#s{
    margin-top: 5rem;
}
#search{
    width: 98%;
    /* height: 30rem; */
    margin: 2rem 0rem 4rem 0rem; 
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
#about #p,#about #q{
    width:15%;
}
#about #r{
    width: 70%;
    text-align: justify;
}
#c{
    margin-top: 6rem;
}
#comment{
    width: 98%;
    /* height:22rem; */
    margin: 2rem 0rem 9rem 0rem; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#footer{
    width: 98%;
    /* height: 10rem; */
    margin: 5rem 0rem 0rem 0rem; 
    border-bottom: 2px solid #0f4c81;
}

#search-imgs{
    width: 40%;
    height: 98%;
    background-color: transparent;
}
@media (max-width:415px){
  #search-imgs{
    width:30%;
    height: 98%;
}
}
#comment-imgs{
  width:50%;
  height: 98%;
}

@media (max-width:630px){
  #comment-imgs{
    width:35%;
    height: 98%;
}
}
#comment-image img{
  max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block;
}
.comment-container{
    width: 40%;
    height: 98%;
}
  .overlay{
    width: 100%;
    background-color: rgba(15, 76, 129,0.8);
    position: fixed;
    top: 0%;
    height:100vh;
    opacity: 0;
    transition: 1s;
    display: none;
  }
  .popup{
    width:350px;
    background-color:rgba(255, 255, 255,1);
    box-shadow: rgba(0, 0, 0, 0.25)0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding:30px 20px;
    position: absolute;
    display: flex;
    border-radius: 20px;
    left: 50%;
    top: -50%;
    transform: translate(-50%,-40%);
    transition: 2s;
  }
  .close{
    position: absolute;
    right: 0px;
    top:0px;
    border-top-right-radius:20px;
    border-bottom-left-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: larger;
    font-weight:bolder;
    width: 30px;
    height: 30px;
    background-color: rgba(15, 76, 129,0.4);
    text-align: center;
    line-height: 30px;
  }
  .close:hover{
    background-color: red;
    z-index: 6;
  }
  .showoverlay{
    opacity: 1;
    z-index: 1;
    display: block;
  }
  .showpopup{
    top: 50%;
    z-index: 4;
  }

.card {
    width: 200px;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25)0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px;
    margin: 10px;
  }
  
  
  .card img {
    margin-left: 1.5rem;
    width: 80%;
    border-radius: 25px;
  }
  
  
  
  .card span {
    color: #9d6f24;
  }
  
  /* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(15, 76, 129,0.4);
    padding: 20px;
    /* width: 300px; */
    margin-left: 3rem;
}

.form-container select{
    width:100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container button {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 1.5rem;
    background-color: rgb(15, 76, 129);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color:  #0056b3;
}
  
  
.comment-container,#search-form {
    /* max-width: 400px; */
    margin: 5px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px  rgba(15, 76, 129,0.5);

}
#search-form{
    width: 45%;
    height: 98%;
    box-shadow: none;
}
.comment-container h2,#search-form h2{
    text-align: center;
    margin-bottom: 20px;
    color: #4b45a0;
}

.comment-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.comment-container input,.comment-container textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
    }
    
    .comment-container button {
        display: block;
        width: 80%;
        margin-left: 3rem;
        padding: 10px;
        background-color: rgb(15, 76, 129);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    
    .comment-container button:hover {
        background-color: #0056b3;
    }
    #comment-imgs img{
        width: 20rem;
        border:solid rgba(15, 76, 129,0.1);;
        border-radius: 1rem;
        box-shadow: 0 0 20px  rgba(15, 76, 129,0.1);
        margin-left: 4rem;
    }
    .destination{
        text-align: center;
        color: #4b45a0;
        font-weight: 900;
        text-decoration: underline solid;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }


    
    /* navbar-chatpt */

    
    #nav-logo {
        float: left;
    }
    
    .nav-btn {
        float: right;
    }
    
    .nav-btn button a {
        text-decoration: none;
        margin-left: 20px;
    }
    
    

    .success-container {
        position: fixed; /* Position the container relative to the viewport */
        top: 8rem; /* Position the top edge of the container at the vertical center of the viewport */
        left: 50%; /* Position the left edge of the container at the horizontal center of the viewport */
        transform: translate(-50%, -50%); /* Center the container precisely */
        text-align: center; /* Center the text inside the container */
        background-color: #f0f0f0; /* Background color for the container */
        padding: 20px; /* Padding for the container */
        border-radius: 5px; /* Border radius for rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for the container */
      }

      .success-message {
        color: green;
        font-weight: bold;
        margin-top: 5px;
        width: 200px; /* Set the width of the container */
      }
      .error{
            color:red;
      }

      .close-button {
        position: absolute; /* Position the button relative to the container */
        top: 40%; /* Position the button 5px from the top of the container */
        right: 5px; /* Position the button 5px from the right of the container */
        cursor: pointer; /* Change cursor to pointer on hover */
        font-size: 25px; /* Font size of the button */
        color: red /* Color of the button */
      }

      .close-button:hover {
        color: #666; /* Change color of the button on hover */
      }


      .extra-space{
        height: 3rem;
      }



  /* Style footer */
  footer {
    position:relative;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size: 0.9rem;
    padding: 20px 0;
    
  }
  
  /* Container for centering content */
  .footer-container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Style footer content */
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-info{
    flex: 1;
  }
  .footer-nav {
    flex:0.4;
  }
  
  .contact-info h3, .footer-nav h3 {
    color:  rgb(15, 76, 129);;
    margin-bottom: 10px;
  }
  .contact-info ul{
    list-style-type:square;
  }
  
  .footer-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-nav ul li {
    margin-bottom: 5px;
  }
  
  .footer-nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  .radios{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  .radio1{
    margin: 2px 4rem 1rem 1rem;
  }
  .radio2{
    margin: 2px 4rem 1rem 2rem;
  }
  
  .footer-nav ul li a:hover {
    text-decoration: underline;
  }
  

  .beautiful-button {
    background-color: #0f4c81; /* Green */
    border: none;
    color: white;
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .beautiful-button:hover {
    background-color: #45a049; /* Darker Green */
  }


  /* overlay-card */

  .card {
    width: 88%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(15, 76, 129,0.3);
    border-radius: 10px;
    overflow: hidden;
  }

  .card img {
    width: 100%;
    height: 200px;
    object-fit:cover;
  }

  .card-content {
    padding: 20px;
  }

  .card-content h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .card-btn {
    text-decoration: none;
    margin-top: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(15, 76, 129);
    transition: background-color 0.3s ease;
  }
  .card:hover{
    width: 100%;
    box-shadow: 1rem 2rem 5rem rgba(15, 76, 129,0.4);
  }
  .card-btn:hover {
    background-color: #0056b3;
  }

  *{
    font-family: 'Poppins';
  }

  .instruction{
    max-width: 45rem;
    margin: 6rem 0rem 2rem 3rem;
    line-height: 1.4rem;

  }
  .instruction h3{
    font-weight: 800;
    text-decoration: underline;
  }
  .instruction ul{
    list-style-type:"\2605" ;
  }
  .instruction ul li{
    opacity: 0.9;
    content: "\2605"


  }

  img {
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block; /* Ensure the image behaves as a block element */
}