<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/registration.css">
    <link rel="stylesheet" href="/vip.css">
    <title>VBSPU Question bank</title>
</head>
<body class="vh-100 overflow-hidden">
    <div class="university-logo"></div>
<div class="boilerplate-container"><%-body %></div>
<script src="/app.js"></script> 
<script src="/whatsapp.js"></script>
</body>    
</html>